.navContainer {
    padding: 10px;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: row; 
  }
  
  .navList li {
    margin-right: 10px;
  }
  
  .navList a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
  }
  
  .active {
    color: #fff;
  }
  